.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 213px;
  background-color: $white;
  top: 56px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  font-weight: 700;
  padding: 20px;
  box-shadow: 1px 5px 10px 0 $grey-shadow-nav;
  @media(min-width: $tablet-width) {
    width: 459px;
    padding: 55px;
    top: 86px;
  }
}

.modal__amount {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media(min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  @media(min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 29px;
  }
}

.modal__item-person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media(min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.modal__label {
  align-self: center;
  @media(min-width: $tablet-width) {
    margin-right: 24px;
    white-space: nowrap;
  }
}

.modal__label-adults {
  @media(min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.modal__input {
  border: 2px solid $light-beige;
  background-color: $light-beige;
  font-family: $ptsans;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
  &:hover {
    background-color: $grey;
    border-color: $grey;
  }
  &:focus {
    background: $white;
    border-color: $extra-light-grey;
    outline: none;
  }
}

.modal__input-date {
  width: inherit;
  padding: 6px 13px;
  margin-right: 0;
  @media(min-width: $tablet-width) {
    width: 100%;
  }
}

.modal__button-calendar {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 23px;
  right: 0;
  padding: 0;
  cursor: pointer;
  @media(min-width: $tablet-width) {
    top: 2px;
  }
  &:hover path{
    fill: $black;
  }
  &:active path{
    fill: $blue;
  }
}

.modal__input-amount {
  width: 36px;
  padding: 6px 39px;
  text-align: center;
}

.modal__button-plus,
.modal__button-minus {
  position: absolute;
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 0;
  &:hover path,
  &:hover rect {
    fill: $black;
  }
  &:active path,
  &:active rect {
    fill: $blue;
  }
}

.modal__button-minus {
  right: 75px;
}

.modal__button-plus {
  right: 0;
}

.modal__button-minus > .modal__button-img {
  margin-bottom: 3px;
}

.modal__button-plus > .modal__button-img {
  margin-top: 4px;
}

.modal__form-button {
  font-family: $ptsans;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 16px 70px;
  border: none;
  background-color: $blue;
  cursor: pointer;
  @media(min-width: $tablet-width) {
    padding: 16px 196px;
  }
  &:hover {
    background-color: $nav-back-blue-hover;
  }
  &:active {
    background-color: $extra-dark-blue;
    color: $white-transparent;
  }
}
