//Fonts
  $ptsans: "PTSans", "Open Sans", sans-serif;
  $arial: "Arial", "Open Sans", sans-serif;

//Color

  $white: #ffffff;
  $black: #000000;
  $blue: #81b3d2;
  $grey: #ebebeb;
  $brown: #766357;
  $granit: #ababab;
  $beige: #d6d6d6;
  $grey-magenta: #bdbbbc;
  $dark-blue: #669ec0;
  $extra-dark-blue: #5496bd;
  $dark-grey: #333333;
  $extra-light-grey: #e5e5e5;
  $extra-light-beige: #eaeaea;
  $grey-form-down: #d5d5d5;
  $light-grey: #eeeeee;
  $light-beige: #f2f2f2;
  $dark-brown: #604e43;
  $form-svg-grey: #e6e6e6;
  $extra-dark-brown: #503e33;
  $nav-back-blue-hover: #669ec0;
  $grey-shadow-nav: rgba(1, 1, 1, 0.2);
  $white-shadow-nav: rgba(255, 255, 255, 0.2);
  $black-gradient-nav: rgba(0, 0, 0, 0.2);
  $grey-transparent: rgba(0, 1, 1, 0.2);
  $white-transparent: rgba(255,255,255,0.3);
  $light-grey-transparent: rgba(171, 171, 171, 0.3);
  $dark-grey-transparent: rgba(0, 0, 0, 0.3);
  $white-light-transparent: rgba(255,255,255,0.9);

//Viewports

  $tablet-width: 768px;
  $desktop-width: 1200px;
  $mobile-width-only: 767px;
